.player{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    flex-direction: column;
    margin-left: auto;
}
.time-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    div{
        padding: 0px 10px;
    }
    input{
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            height: 1rem;
            width: 1rem;
            background-color:#000;
        }
    }

}
.player-control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    svg{
        cursor: pointer;
        font-size: 30px;
    }
}
.track{
    width: 60%;
    height: 1rem;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.animate-track{
    background-color: rgb(204,204,204);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translateX(0%);
}
@media(max-width:768px){
    .player{
        width: 100%;
    }
}