.player{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    flex-direction: column;
    margin-left: auto;
}
.time-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    div{
        padding: 0px 10px;
    }
    input{
        width: 60%;
    }

}
.player-control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    svg{
        cursor: pointer;
        font-size: 30px;
    }
}
@media(max-width:768px){
    .player{
        width: 100%;
    }
}